<!DOCTYPE html>
<html lang="en" ng-app="spotifinderApp">

<head>
    <meta charset="UTF-8">
    <title>Spotifinder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style type="text/css">
    .jumbotron {
        padding-top: 10px;
    }
    
    li {
        margin: 20px 0;
    }
    
    iframe {
        height: 90px;
        margin-top: 10px;
    }
    
    .hidden {
        display: none;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <h3 class="text-muted">SpotiFinder 😎</h3>
        </div>
        <div class="jumbotron" ng-controller="spotifinderController">
            <h1>Search</h1>
            <input type="text" ng-model="artistName" placeholder="Search">
            <button ng-click="getInfoSearch()">Get Name</button>
            <div id="artists-container">
                <h1>Artists</h1>
                <select ng-model="artistSelected" ng-change="getInfoArtist()">
                    <option id="artists-selection" ng-repeat="artist in artists" value="{{ artist.id }}"> {{ artist.name }}</option>
                </select>
            </div>
            <div id="albums-container">
                <h1>Albums</h1>
                <select ng-model="albumSelected" ng-change="getInfoAlbum()">
                    <option id="albums-selection" ng-repeat="album in albums" value="{{ album.id }}"> {{ album.name }}</option>
                </select>
            </div>
        </div>
        <!-- <form action="" method="POST" class="form-inline" role="form" ng-submit="getInfoSearch()">
                <div class="form-group">
                    <label class="sr-only" for="">label</label>
                    <input type="text" class="form-control" id="artist-name" placeholder="Enter an artist name..." ng-model="artistName">
                </div>
                <button id="search-artist" type="submit" class="btn btn-primary">Search this artist</button>
                </form> -->
        <!-- <form ng-submit="addTask()">
      <input type="text" ng-model="newTask">
      <button>Add Task</button> -->
    </div>
    <div id="songs-container" class="jumbotron hidden">
        <h1>Songs</h1>
        <ul id="songs-list"></ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript">
    angular.module('spotifinderApp', [])

    .controller('spotifinderController', function($scope, spotifinderService) {
        $scope.artistName = 'the beatles'
        $scope.getInfoSearch = function() {
            var artistName = $scope.artistName

            spotifinderService.getArtistName(artistName)
                .then(function(response) {
                    $scope.artists = response.data.artists.items
                })

        }
        $scope.getInfoArtist = function() {
            var idArtist = $scope.artistSelected
            spotifinderService.getAlbumName(idArtist)
                .then(function(response) {
                    console.log(response.data.items)
                    $scope.albums = response.data.items
                })

        }
    })

    .factory('spotifinderService', function($http) {
        function _getArtistName(artistName) {
            var url = 'https://api.spotify.com/v1/search?type=artist&query=' + artistName
            return $http.get(url)
        }

        function _getAlbumName(idAlbum) {
            var url = 'https://api.spotify.com/v1/artists/' + idAlbum + '/albums'
            return $http.get(url)
        }

        return {
            getArtistName: _getArtistName,
            getAlbumName: _getAlbumName
        }

    })
    </script>
    <!-- <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/service.js"></script> -->
</body>

</html>
